knowledge-window {
	margin: 20;
	background: #000000 1.0;
	fill-height:true;
	fill-width:true;
	content-align: middle middle;
	#title {
		margin:10;
		align: top middle;
	}
	knowledgeComp {
		align: middle middle;
		max-width:200;
		content-align: middle middle;
		&.discovered {
			text {
				color : green;
			}
		}
	}
}